# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Third Party
boost*/
boost*.tar.gz
ac-library*/
ac-library-*.tar.gz

# For Local Execution
tools/
samples/
backup/
tester.zip
vis.html
best.txt
best.cpp
data.json
tmp/
sample/out.txt
sample/debug.txt
gridData.js
gridDataBase.csv
